body,
html {
    position: relative;
    height: 100%;
    margin: 0;
}

body {
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 24px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
    }
}
