body,
html {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: "montserrat", sans-serif;
    font-size: 24px;
}

body {
    &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 24px;
    width: 200px;
    text-align: center;
    }
}

.title {
    margin: 0;
    padding-top: 20px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;

    &__hue {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }
}

.help {
    position: absolute;
    margin: 0;
    font-size: 18px;
    color: white;
    -webkit-transition: opacity 0.5s ease-in;

    @media screen and (max-width: 850px) {
        opacity: 0;
    }

    &--resize {
        bottom: 16px;
        right: 22px;
        font-size: 24px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &--hue {
        bottom: 90px;
        right: 5px;
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    &--saturation {
        bottom: 20px;
        right: 70px;
    }
}

footer {
    position: absolute;
    bottom: 20px;
    z-index: 5;
    width: 100%;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    text-align: center;

    @media screen and (min-width: 850px) {
        font-size: 18px;
    }

    a {
        color: white;

        &:hover {
            color: rgba(0,0,0,0.6);
        }
    }
}
