$minimum-width: 400px;
$minimum-height: 177px;

body {
    @for $i from 0 through 360 {
        @for $p from 0 through 100 {
            @media screen and (min-width: ($i * 3px + $minimum-width)) and (min-height: ($p * 4px + $minimum-height)) {
                $color: hsl($i, percentage($p/100), 50%);
                background-color: $color;

                &::before {
                    content: "#{$color}";
                }
            }
        }
    }
}
